<h1>Accesibilidad</h1>
<br />
<h2 style="outline-style: none;">Declaración de accesibilidad</h2>
<p>La Universitat Politècnica de Catalunya se ha comprometido en hacer accesible su sitio web de conformidad con el <i class="glyphicon link-https"></i><a target="_blank" data-linktype="external" href="https://www.boe.es/diario_boe/txt.php?id=BOE-A-2018-12699" data-val="https://www.boe.es/diario_boe/txt.php?id=BOE-A-2018-12699">Real Decreto 1112/2018, de 7 de septiembre, sobre accesibilidad de los sitios web y aplicaciones para dispositivos móviles del sector público</a> (en adelante, Real Decreto 1112/2018, de 7 de septiembre), por el que se traspone la <i class="glyphicon link-https"></i><a href="https://www.boe.es/buscar/doc.php?id=DOUE-L-2016-82305">Directiva (UE) 2016/2102 del Parlamento Europeo y del Consejo, de 26 de octubre de 2016</a>.</p>
<p>La presente declaración aplica a este sitio web, subdominio del web institucional upc.edu.&nbsp;</p>
<h3>Situación de cumplimiento</h3>
<p>Este sitio web es parcialmente conforme con el Real Decreto 1112/2018, de 7 de septiembre a causa de las excepciones y la falta de conformidad de los aspectos que s’indican a continuación.</p>
<h3>Contenido no accesible</h3>
<p>El contenido que es recoge a continuación no es accesible por los siguientes motivos:</p>
<p><strong>Falta&nbsp;de conformidad&nbsp;con el Real Decreto 1112/2018, de 7 de septiembre:</strong></p>
<ol>
    <li>Algunas imágenes no están etiquetadas o tienen una alternativa textual genérica [requisito número 9.1.1.1 de la norma UNE-EN 301549:2019 Contenido no textual]</li>
    <li>Algunos vídeos grabados pueden no contener subtítulos [requisito número 9.1.2.2 de la norma UNE-EN 301549:2019 subtítulos (grabados)]</li>
    <li>Algunos videos pregrabados en el sitio web no disponen de audio descripción o medios alternativos [requisitos número 9.1.2.5 y 9.1.2.3 de la norma UNE-EN 301549:2019 Audio descripción o medios alternativos (grabado)]</li>
    <li>En algunas páginas la información, estructura y relaciones no están determinadas por software o no tienen alternativa como texto. [requisito número 9.1.3.1 de la UNE-EN 301549:2019 de información y relaciones.</li>
    <li>En algunas páginas se ha utilizado el color como único medio visual para transmitir información, indicar una acción, provocar una respuesta o distinguir un elemento visual [requisito número 9.1.4.1 de la norma UNE-EN 301549:2019 uso del color]</li>
    <li>En algunas páginas puede haber atributos e identificadores duplicados [requisito número 9.4.1.1 de la norma UNE-EN 301549:2019 procesamiento]</li>
    <li>En algunas páginas los componentes de interfaz de usuario como elementos de formulario, enlaces y componentes generados por script no siguen la estructura recomendada por las pautas de accesibilidad [requisito número 9.4.1.2 de la norma UNE-EN 301549:2019 Nombre, función, valor]</li>
    <li>En algunos formularios el campo de entrada que recopila información sobre el usuario no tiene identificado el propósito [requisito número 9.1.3.5 de la norma UNE-EN 301549:2019 identificación del propósito de entrada]</li>
    <li>En algunas páginas la relación de contraste en texto o imágenes podría no ser de al menos 4.5:1 [requisito número 9.1.4.3 de la norma UNE-EN 301549:2019 contraste mínimo]</li>
    <li>En algunas páginas el contraste de los componentes de interfaz de usuario y de objetos gráficos podría no llegar al 3:1 con los colores adyacentes [requisito número 9.1.4.11 de la norma UNE-EN 301549:2019 contraste no textual]</li>
    <li>De manera puntual podría existir algún error de entrada en algún campo/formulario&nbsp; del que no se notificase al usuario la sugerencia para solucionarlo&nbsp; [requisito número 9.3.3.3 de la norma UNE-EN 301549:2019 Sugerencia ante errores]<span></span></li>
    <li><span>En algunas páginas los mensajes de estado podrían no estar determinados mediante programación a través de funciones o propiedades [requisito número 9.4.1.3 de la norma UNE-EN 301549:2019 mensajes de estado]</span></li>
</ol>
<p></p>
<p><strong>Carga desproporcionada</strong></p>
<p>No aplica</p>
<p><b>El contenido no entra dentro del ámbito de la legislación aplicable</b></p>
<ol>
    <li>Podrían existir archivos ofimáticos en PDF o otros formatos publicados antes del 20 de septiembre de 2018 que no cumplen íntegramente todos los&nbsp;requisitos de accesibilidad.</li>
    <li>Puede haber contenidos de terceros que no estén desarrollados por esta Universidad o que no estén bajo su control, como por ejemplo, archivos ofimáticos.&nbsp;</li>
</ol>
<h3>Preparación de la presente declaración de accesibilidad</h3>
<p>La presente declaración fue preparada el 20 de&nbsp;julio de 2021.</p>
<p>El método empleado para preparar la declaración ha sido una autoevaluación llevada a cabo por la empresa Everycode S.L. el día 27&nbsp;de septiembre de 2021.</p>
<p>Última revisión de la declaración:&nbsp;29&nbsp;de septiembre de 2021.</p>
<h3>Observaciones&nbsp; y datos de contacto</h3>
<p>Se pueden realizar comunicaciones sobre requisitos de accesibilidad (artículo 10.2.a del Real Decreto 1112/2018, de 7 de septiembre), a través del <a data-val="a9b6258d0ee449d8bb5cb4a5f8ed71f5" href="https://www.upc.edu/ca/contacte/contacte" data-linktype="internal">formulario de contacto</a>, como por ejemplo:</p>
<ul>
    <li>Informar sobre cualquier&nbsp;posible incumplimiento&nbsp;por parte de este sitio web</li>
    <li>Transmitir otras dificultades de acceso al contenido</li>
    <li>Formular cualquier&nbsp;otra consulta o sugerencia de mejora relativa a la accesibilidad del sitio web.</li>
</ul>
<p>Las comunicaciones serán recibidas&nbsp;y tratadas por la Unidad Responsable de Accesibilidad.</p>
<h3>Solicitudes de información accesible y quejas</h3>
<p>Para hacer&nbsp;solicitudes de información accesible y quejas (artículo 12 del Real Decreto 1112/2018)&nbsp;se ha de presentar una<span><span>&nbsp;</span></span><i class="glyphicon link-https"></i><a target="_blank" data-linktype="external" href="https://seuelectronica.upc.edu/ca/Tramits/Instanciagenerica" data-val="https://seuelectronica.upc.edu/ca/Tramits/Instanciagenerica">instancia genérica del registro general de la Universitat Politècnica de Catalunya</a><span>.<span>&nbsp;</span></span></p>
<p>Cualquier persona física o jurídica puede formular quejas relativas al cumplimiento de los requisitos del Real Decreto 1112/2018, de 7 de septiembre, y solicitar información relativa a contenidos que estén excluidos del ámbito de aplicación de esta normativa.</p>
<p>Las solicitudes y quejas que se registran conforme a los requisitos establecidos por la Ley 39/2015 de 1 de octubre, del Procedimiento Administrativo Común de las Administraciones Públicas.</p>
<h3>Procedimento de aplicación</h3>
<p>Si una vez realizada una solicitud de información accesible o queja, esta hubiera sido desestimada, no se estuviera de acuerdo con la decisión adoptada, o la respuesta no cumpliera los requisitos contemplados en el artículo 12.5, la persona interesada podrá iniciar una reclamación. Igualmente se podrá iniciar una reclamación en el caso de que haya trascurrido el plazo de veinte días hábiles sin haber obtenido respuesta.</p>
<p>La reclamación se puede presentar a través de la <i class="glyphicon link-https"></i><a target="_blank" data-linktype="external" href="https://seuelectronica.upc.edu/ca/Tramits/Instanciagenerica" data-val="https://seuelectronica.upc.edu/ca/Tramits/Instanciagenerica">instancia genérica del registro general de la Universitat Politècnica de Catalunya</a>. La reclamación será tratada por el registro general y transmitida a la Unidad&nbsp; Responsable de Accesibilidad.</p>
<h3>Contenido opcional</h3>
<p>Las teclas de acceso son una&nbsp;herramienta&nbsp;de navegación que permite visitar este web utilizando&nbsp;el teclado.<br>Más información sobre las teclas de acceso:<span>&nbsp;</span><i class="glyphicon link-external"></i><a target="_blank" href="http://www.w3.org/TR/WCAG10-HTML-TECHS/#link-accesskey">Guías de accesibilidad W3C</a>.</p>
<p>Teclas de acceso disponibles</p>
<ul class="list-highlighted">
    <li>1- Ves al contenido</li>
    <li>2- Página de inicio</li>
    <li>3-&nbsp;<span>Mapa del web</span></li>
    <li>4-&nbsp;<span>Foco&nbsp;en la búsqueda</span></li>
    <li>5-&nbsp;<span>Árbol&nbsp;de navegación</span></li>
    <li>9-&nbsp;<span>Información de contacto</span></li>
    <li>0-&nbsp;<span>Consulta accesibilidad</span></li>
</ul>
<p>Para utilizar las teclas de accesos hay que pulsar simultáneamente:</p>
<ul>
    <li>Chrome: ALT + tecla&nbsp;de acceso</li>
    <li>Safari: ALT + tecla</li>
    <li>Firefox: MAYÚSCULA + ALT + tecla de acceso</li>
    <li>Edge: ALT + tecla&nbsp;de acceso</li>
</ul>
