<h1 class="documentFirstHeading">Informació RSS</h1>

<p><strong>RSS </strong>(sigla de <em>Really Simple Syndication</em>) és un canal de distribució de continguts que s'actualitzen sovint, com ara llocs de notícies, weblogs o podcasts, i per mitjà del qual es pot compartir la informació i usar-la en altres llocs web o programes. És en essència una sindicació de continguts.</p>

<p>El principal avantatge del sistema és l'agilitat, ja que no cal descarregar les imatges i els altres elements del web, només els titulars, i també es pot ajuntar el contingut de molts llocs web en un sol espai. Gràcies a aquesta tecnologia, els usuaris ja no s'han de preocupar de comprovar si hi ha novetats que els interessin en un determinat espai digital, sinó que poden rebre i organitzar els nous titulars d'un espai digital en el mateix moment que es publiquen. El web incorpora aquest servei a totes les pàgines on apareix la icona RSS <span class="icon-color icon-rss"></span>.</p>

<h2>RSS de la UPC</h2>
<ul class="list list-links">
	<li><a href="http://www.upc.edu/agenda/totes/RSS" target="_blank">Agenda UPC</a></li>
	<li><a href="http://www.upc.edu/saladepremsa/actualitat-upc/RSS?set_language=ca" target="_blank">Notícies UPC [Oficina de Mitjans de comunicació]</a></li>
	<li><a href="http://tv.upc.edu/rss/ultims-videos/RSS" target="_blank">UPCtv, ultims videos publicats</a></li>
	<li><a href="http://bibliotecnica.upc.edu/rss.xml" target="_blank">Bibliotècnica</a></li>
</ul>

<h2>Agregadors de distribució lliure</h2>
<p>Un programa que utilitza RSS s'anomena agregador. N'hi ha de molts tipus: incrustats a navegadors web, widgets per a l'escriptori, en programes de correu electrònic, en pàgines web dedicades i en programes dedicats. Els de distribució lliure són:</p>
<ul class="list list-links">
  <li><a target="_blank" href="http://www.feedreader.com/">FeedReader</a></li>
  <li><a target="_blank" href="http://google.com/reader">Google Reader</a></li>
</ul>
