#footer-contact {
  color: var(--bs-body-bg);
  box-shadow: 500px 0 0 0 #F2F5F6, -500px 0 0 0 #F2F5F6;
  padding: 2em 4em;

  h2 {
    text-transform: capitalize;
    font-variant: small-caps;
    color: var(--bs-white);
    font-weight: 500;
    font-size: 2rem !important;
  }

  a {
    color: var(--bs-white);
    text-decoration: none;
    font-weight: 500;

    &:hover {
      color: var(--bs-link-hover-color);
    }
  }

  .xarxes_socials {

    a {
      margin-right: 0.5em;
      color: var(--bs-gray-200);
      text-decoration: none;
      font-size: 25px;

      &:hover {
        color: var(--bs-primary-hover);
      }

      &[target="_blank"]::after {
        display: none;
        content: "";
      }
    }
  }
}

@media (max-width: 768px) {

  #footer-contact {

    .map {
      margin-bottom: 1.5rem;
    }

    .contact {
      margin-bottom: 1rem;
    }
  }
}
