body.template-upc-controlpanel {

  #formfield-form-widgets-fieldset-xarxes_socials,
  #formfield-form-widgets-fieldset-contact_emails {

    h2 {
      font-size: 1.8rem;
      font-weight: 500;
      margin-bottom: 1rem;
    }
  }
}
