/* line 1, ../scss/_footer.scss */
#footer-contact {
  background-color: #FBFBFC;
  box-shadow: 500px 0 0 0 #F2F5F6, -500px 0 0 0 #F2F5F6;
  padding: 2em 4em;
}
/* line 8, ../scss/_footer.scss */
#footer-contact .xarxes_socials a {
  margin-right: 0.5em;
  color: var(--bs-primary);
  text-decoration: none;
  font-size: 36px;
}
/* line 14, ../scss/_footer.scss */
#footer-contact .xarxes_socials a:hover {
  color: var(--bs-primary-hover);
}
/* line 18, ../scss/_footer.scss */
#footer-contact .xarxes_socials a[target="_blank"]::after {
  display: none;
  content: "";
}
